<!DOCTYPE html>
<html>
<head>
  <title>First Rails App</title>
</head>
<body>
  <h1>Answer</h1>
  <form action="/answer" method="post">
    <label for="answer">Your coach answered:</label>
    <input type="text" name="answer" placeholder="answer">
    <br>
    <input type="submit">
  </form>
</body>
</html>
