<!DOCTYPE html>
<html>
<head>
  <title>First Rails App</title>

</head>
<body>
  <h1>Question</h1>
  <form action="/ask" method="get">
    <label for="question">Ask your coach:</label>
    <input type="text" name="question" placeholder="question">
    <br>
    <input type="submit">
  </form>
</body>
</html>
