
  <h1>Question</h1>
  <form action="/answer" method="get">
    <label for="question">Ask your coach:</label>
    <input type="text" name="question" placeholder="question">
    <br>
    <input type="submit">
  </form>
